.wrapper{
    margin-bottom: 0.63rem;
    width: 88%;
    font-size: 0.25rem;
    border-radius: 0.22rem;
    display: inline-block;
    box-shadow: 0px 0px 20px 1px rgba(220, 220, 220, 0.2) inset;
    .main{
        border-radius: 0.12rem;
        transition: 3s 0s all ease;
        overflow: hidden;
        box-shadow: 0px 0px 100px 10px rgba(220, 220, 220, 0.6);
        font-size: 0px;
        background-color: #fff;
        border-radius: 0rem;
        .head{
            img{
                width: 100%;
                border-radius: 0.22rem;
            }
        }
    }
}
.active{
    transform: scale(0.9, 0.9)
}
.full{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    .body{
        animation: full 3s ease-in 1s 1 normal both paused;
    }
}
@keyframes full{
    0%{
        width: 10px;
    }
    100%{
        width: 100px;
    }
}