.main{
    z-index: 2;
    text-align: center;
    position: absolute;
    top: -0.7rem;
    left: 0;
    right: 0;
    padding-bottom: 0.8rem;
    .head{
        padding-top: 0.5rem;
        height: 4.6rem;
        background-image: url('../../assets/user.png');
        margin-bottom: -0.4rem;
        .title{
            text-align: center;
            font-size: 0.44rem;
            color: #fff;
        }
        .user{
            img{
                margin-top: 0.3rem;
                width: 1.1rem;
            }
        }
        .headfoot{
            margin-top: 1.3rem;
            color: #fff;
        }
    }
    .content{
        background-color: #fff;
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
        height: 5rem;
        position: relative;
        .tabs{
            height: 0.8rem;
            font-size: 0px;
            white-space: nowrap;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            .tab{
                height: 0.8rem;
                font-size: 0.26rem;
                display: inline-block;
                width: 33%;
                line-height: 0.8rem;
                text-decoration: none;
                &.active{
                    font-weight: bold;
                    color: #000;
                    font-size: 0.3rem;
                }
            }
        }
        .wrapper{
            position: relative;
            padding-top: 0.3rem;
        }
    }
}
:global(.rotate-enter) {
    transition: all 400ms linear;
    transform-origin: right center;
    transition-delay: 400ms;
    transform: rotateY(90deg);
  }
  
  :global(.rotate-enter.rotate-enter-active) {
    transform: rotateY(0deg);
  }
  
  :global(.rotate-exit) {
    transition: all 400ms linear;
    transform-origin: left center;
    transform: rotateY(0deg);
  }
  
  :global(.rotate-exit.rotate-exit-active) {
      transform: rotateY(90deg);
  };