.main{
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 0.63rem;
    background-color: #fff;
    min-height: 8.3rem;
    border-radius: 0.12rem;
    box-shadow: 0px 0px 90px 16px #dcdcdc;
    transition: 1s 0s all ease; 
}
.active{
    transform: scale(1.05, 1.05)
}
.full{
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
}