.head{
    color: #000;
    text-align: center;
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.13rem;
}
<<<<<<< HEAD
.head span{
    font-size: 0.25rem;
}
=======
.head span{font-size: 0.25rem;}
>>>>>>> 763799bcbfccd9171c07d4d7c0490ca6c6cfef43
