.main{
  position: relative;
}
:global(.fade-enter) {
  left: 100%;
  right: -100%;
  transition: all 400ms linear;
}

:global(.fade-enter.fade-enter-active) {
  left: 0;
  right: 0;
}

:global(.fade-exit) {
  transition: all 400ms linear;
  right: 0;
  left: 0;
}

:global(.fade-exit.fade-exit-active) {
  right: 100%;
  left: -100%;
};