.main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px;
    text-align: left;
    .item{
        line-height: 0.7rem;
        font-size: .32rem;
        display: inline-block;
        border: 1px solid #000;
        border-radius: 50px;
        margin-right: 20px;
        padding: 0 0.4rem;
        margin-bottom: 0.2rem;
    }
}